:root {
  /* --bgdark: #202025;
  --textwhite: #f7f7f6;
  --color2: #2b9348;
  --color1: #bfd200; */
  /* --bglight: #ffff3f; */
  --bglight: #1b1a18;
  --maintext: #37301f;
  --secondary: #f6f2ea;
  --bgdark: #b79e5c;
  --maingray: #fff;
  /* background-color: #1b1a18; */
  z-index: -999;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Oswald, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--maintext);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1a18 !important;
  vertical-align: "middle";
}
div {
  display: block;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
textarea {
  display: block;
  width: 100%;
  height: auto;
}
input[type="text"] {
  display: inline-block;
}
nav {
  margin: 0;
  /* background-color: var(--bgdark); */
  color: var(--maintext);
  text-decoration: none;
  text-align: left;
}
nav ul {
  display: flex;
  /* flex-flow: row wrap; */
  flex-flow: row wrap;
  /* flex: 0 0 23%; */
  /* flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 10%; */
  list-style: none;
  margin: 0 0 2em 0;
  /* display: block; */
}
nav ul li {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto 0;
  padding: 0.5em;
  font-size: 1.5em;
}
nav ul li:last-of-type {
  /* display: inline-flex; */
  justify-self: right;
  justify-items: flex-end;
  justify-content: flex-end;

  margin: auto 0 auto auto;
}
nav ul li a {
  text-decoration: none;
  color: var(--textwhite);
}

nav ul li a:hover {
  text-shadow: var(--bgdark);
  color: var(--color1);
}
.inline-container {
  display: inline-block;
  vertical-align: middle;
  /* padding-left: 0.3em; */
}

.search-box {
  display: flex;
  margin-left: auto;
  justify-self: flex-end;

  width: 12em;
  height: 100%;
  /* background-color: var(--bgdark); */
  color: var(--maintext);
  padding: 0.3em;
  margin: 0;
  vertical-align: middle;
}
.Autocomplete {
  color: var(--maingray);
  display: inline-block;
}

#search {
  padding: 0;
  margin: 0;
  height: 2em;
  color: black;

  /* background-color: var(--textwhite); */
  vertical-align: middle;
}
.search-icon {
  color: var(--textwhite);
  color: black;
  vertical-align: middle;
}
.search-icon:hover {
  /* color: var(--color1); */
  vertical-align: middle;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-rating-star .p-rating .p-rating-star-on {
  color: red !important;
  font-size: large !important;
}
.post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  justify-self: center;
  align-items: center;

  /* width: 90%; */
  height: auto;
  margin: 0;
  /* padding: 0.5em 0.5em; */
  /* background-color: var(--maingray); */
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  justify-self: center;
  /* background: #1b1a18; */
  z-index: -999;
}
.single-post-container {
  /* flex-wrap: nowrap; */
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
  /* flex-basis: 40%; */
  flex-flow: column nowrap;
  margin: 0.5em 0.5em;
  /* padding: 0.5em; */
  /* background-color: red; */

  /* min-width: 200px; */
  /* box-shadow: 10px 10px 11px 2px rgba(143, 143, 143, 1); */
  align-items: center;
  z-index: -999;

  /* flex-grow: 1; */
  flex: 0 0 23%;
  border-radius: 1em 1em 1em 1em;
}
.post-body {
  width: 300px;
  height: 400px;
  background: #4b4432;
  border-radius: 36px;
  align-items: center;
  justify-items: center;
  margin: 1em auto;
}
.post-button-body {
  width: 300px;
  height: 400px;
  background: rgba(75, 68, 50, 0.1);
  border-radius: 36px;
  align-items: center;
  justify-items: center;
  margin: 1em auto;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-button-delete {
  color: red;
  font-size: 1.3em;
  letter-spacing: 0.3em;
  padding: 0.3em;
  width: 100%;
  cursor: pointer;
  text-shadow: "3px 3px 5px black";
  font-variant: small-caps;
  font-weight: 700;
}
.post-button-remove {
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.3em;
  padding: 0.3em;
  width: 100%;
  cursor: pointer;
  text-shadow: "3px 3px 5px black";
  font-variant: small-caps;
  font-weight: 700;
}

.post-text {
  width: 270px;
  height: 370px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  padding: 1em 2em;
  text-justify: justify;
  justify-content: center;
  /* margin: auto; */

  color: #ffffff;
}
.post-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}
.post-first-buttons {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 10%;
  justify-content: flex-end;
}
/* .post-first-expand {
  display: inline-block;
}
.post-first-rest {
  display: inline-block;
  margin: 0.1em 0.1em 0 auto;
} */
.grid-container {
  display: grid;
  margin: 0 auto;
}

.blurred {
  filter: blur(0.2em);
}
.indexed {
  z-index: -1;
}
/* .post-body:hover {
  filter: blur(0.2em);
} */
.single-post-container:hover {
  box-shadow: 10px 10px 11px 2px rgba(253, 133, 41, 1);
}

#router {
  margin: 0;
  padding: 0;
  width: 100%;
}

.Link {
  color: black;
  text-decoration: none;
}
.post-bar {
  display: flex;
  justify-content: flex-end;
  /* background-color: var(--textwhite); */
  padding: 0.2em 0;
  margin: 0;
  width: 100%;
  border-radius: 1em 1em 0 0;
  border-bottom: #55a630 2px solid;
}
.rate {
  justify-self: flex-start;
  margin-left: 1em;
}
.post {
  border: 1px 0 solid var(--textwhite);
  padding: 1em;
  margin-bottom: auto;
  flex-grow: 1;
  border-radius: 1em 1em 0 0;
  justify-self: flex-start;
}
.post-footer {
  height: 2em;

  /* background-color: var(--textwhite); */
  /* border-top: #55a630 2px solid; */

  width: 100%;
  align-self: flex-end;
  align-content: center;
  margin-top: auto;
  border-radius: 0 0 1em 1em;
}
img {
  max-width: 100%;
  min-width: 100% !important;
  max-height: 50%;
  display: block; /* remove extra space below image */
  margin: 0 auto 5px auto;
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 36px 36px 0 0;
}
.fab {
  /* position: absolute; */
  margin: 0.5em;
  padding: 0.5em;
  bottom: 1em;
  right: 1em;
}
.hashtag-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  color: rgba(225, 162, 0, 1);
}

.hashtag-container {
  display: block;
  /* position: fixed; */
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  margin: 0 auto;
  /* border: solid 15px var(--bgdark); */
  /* padding: 1em; */
  /* background-color: rgba(225, 162, 0, 0.67); */
}
.hashtag-container-s {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 2;

  width: 100%;
  margin: auto;
  /* border: solid 15px var(--bgdark); */
  /* padding: 1em; */
  /* background-color: rgba(225, 162, 0, 0.67); */
}

.hashtag-slider {
  /* background-color: rgba(225, 162, 0, 0.67); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 2;
  margin: auto;
  width: 80%;
  /* height: 2em; */
  font-size: 1.5em;
  font-weight: 700;
  vertical-align: middle;
}

.hashtag {
  display: inline-block;
  padding: 1em;
  font-size: 1.3em;
}

tr td:first-of-type {
  text-justify: left;
  text-align: left;
}
td {
  padding: 5px 5px;
}
table {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;

  /* width: 60%; */
  margin: 0 auto;
  padding: 10px;
}

table tr:last-of-type td {
  padding: 5px 0;
}

.user-summary {
  display: block;
  margin: 3em auto;
  width: 40%;
}

.user-rating {
  display: block;
  /* width: 100%; */

  height: auto;
}

.user-tops {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;

  justify-content: flex-start;
}

.testbox {
  padding: 1em;
  margin: 0 0;
  flex: 1 1 0px;
  /* width: auto; */
}

/* .testbox:nth-of-type(even) {
  background-color: blueviolet;
}
.testbox:nth-of-type(odd) {
  background-color: tomato;
} */
